*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80vw;
    margin: auto;
}

/*-------------------------
        STAR HEADER
-------------------------*/
header{
    position: relative;
    width: 100%;
    background-color: #ffffff;
}

.box-header{
    height: 5vw;
    display: flex;
    justify-content: space-between;
}
.box-logo_header{
    width: 9.3vw; 
    height: 100%;
    display: flex;
    align-items: center;
}
.logo{
    text-decoration: none;
    font-size: 2.3vw;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
@media screen and (max-width: 800px){
    .box-header{justify-content: center; height: 8vw;}
    .box-logo_header{width: 22.5vw; justify-content: center;}
    .logo{font-size: 5.5vw;}
}

.menu{
    width: 28.75vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.menu li{
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li a{
    text-decoration: none;
    font-size: 1.3vw;
    color: #707070;
    font-family: 'Montserrat', sans-serif;
}
.menu li a:hover{
    font-weight: 900;
    font-size: 1.3vw;
    color: #000000;
}
@media screen and (max-width: 800px){
    .box-menu_header{display: none;}
}

/*-------------------------
        STAR MAIN
-------------------------*/
main{
    width: 100%;
    height: 80vh;
    background-image: url(img/laranja\ azul\ recorte.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-X: 80%;
    display: flex;
    flex-direction: column;
}
.box-main-txt{
    height: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main-title{
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 3.9vw;
    padding-top: 1vw;
} 
.main-paragraph{
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 1.7vw;
    padding-top: 2vw;
    text-decoration: none;
}

.box-gallery{
    width: 100%;
    padding-top: 4vw;
}
.gallery{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .7vw;
}

.gallery img{
    width: 100%;
    height: 100%;
}
.gallery img:hover{
    transform: scale(1.4);
    transition: .5s ease;
}

footer{
    width: 100%;
    margin-top: 4vw;
    background-color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
}
.box-footer{
    width: 100%;
    height: 6vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-social{
    width: 20%;
    display: flex;
    justify-content: space-between;
}
.icons-social i{
    color: black;
    font-size: 1.8vw;
}
.box-copyright-txt{
    width: 67%;
    display: flex;
    align-items: center;
}
.copyright-title{font-size: 1vw; padding-right: 1.5vw;}
.copyright-paragraph{font-size: .8vw; width: 28.75vw;}

@media screen and (max-width:1030px){
    .box-main-txt{
        height: 80vh;
        justify-content: center;
        padding-bottom: 2vw;
    }
    .main-title{
        width: 80%;
        font-size: 8vw;
    }
    .main-paragraph{
        font-size: 3vw;
    }
}

@media screen and (max-width:600px){
    .box-btnClose{
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        position: fixed;
        top: 2vw;
        left: 1.5vw;
        z-index: 2;
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btnClose{
        position: relative;
        display: block;
        background-color: white;
        width: 4vw;
        height: .25vw;
        transition: .5s ease-in-out;
    }
    .btnClose::after, .btnClose::before{
        content: "";
        position: absolute;
        display: block;
        background-color: white;
        width: 100%;
        height: 100%;
        transition: .5s ease-in-out;
    }
    .btnClose::before{top: 1.2vw;}
    .btnClose::after{bottom: 1.2vw;}
    .btnCheck{display: none;}
    .btnCheck:checked~label .btnClose{transform: rotate(45deg);}
    .btnCheck:checked~label .btnClose::before{
        transform: rotate(90deg);
        top: 0;
    }
    .btnCheck:checked~label .btnClose::after{
        transform: rotate(90deg);
        bottom: 0;
    }
    .responsive{
        position: fixed;
        top: 0;
        left: 0;
        width: 35vw;
        height: 40vh;
        background-color: rgba(0, 0, 0, 0.651);
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .menu{
        flex-direction: column;
        justify-content: space-evenly;
        height: 85%;
        width: 100%;
    }
    .menu li a{
        font-size: 6vw;
        color: white;
        padding: 1.5vw;
    }
    .menu li a:hover{
        width: 100%;
        background-color: gray;
        color: white;
        font-size: 6.5vw;
    }

    main{
        background-position-X: 82%;
    }
    .box-main-txt{
        height: 80vh;
        justify-content: flex-end;
        padding-bottom: 2vw;
    }
    .main-title{
        font-size: 12vw;
    }
    .main-paragraph{
        font-size: 4vw;
        padding-bottom: 3vw;
    }
    .gallery{
        grid-template-columns: 1fr;
        gap: 3vw;
    }
    .gallery img:hover{
        transform: scale(0);
        transition: none;
    }
    footer{
        margin: auto;
        width: 80%;
        display: flex;
        padding-top: 3vw;
    }    
    .box-footer{
        flex-direction: column;
        padding-top: 3vw;
    }
    .menu-social{
        width: 100%;
        justify-content: space-evenly;
        background-color:#7FDBD4;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }
    .icons-social i{
        font-size: 6vw;
    }

    .box-copyright-txt{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .copyright-title{
        font-size: 3vw;
        padding-top: 3vw;
    }
    .copyright-paragraph{
        font-size: 2.5vw;
        width: 60%;
        padding-bottom: 3vw;
    }
}